@charset "UTF-8";
* {
  margin: 0; /*hace que el elemento no tenga margen*/
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #004D98, #A50044);
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .titulo-index {
  color: beige;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 0;
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 70px;
}
body .titulo-index span {
  opacity: 0;
  transform: translateY(-50px);
  display: inline-block;
  animation: slideDown 0.5s ease forwards;
}
body .titulo-index span:nth-child(1) {
  animation-delay: 0s;
}
body .titulo-index span:nth-child(2) {
  animation-delay: 0.1s;
}
body .titulo-index span:nth-child(3) {
  animation-delay: 0.2s;
}
body .titulo-index span:nth-child(4) {
  animation-delay: 0.3s;
}
body .titulo-index span:nth-child(5) {
  animation-delay: 0.4s;
}
body .titulo-index span:nth-child(6) {
  animation-delay: 0.5s;
}
body .titulo-index span:nth-child(7) {
  animation-delay: 0.6s;
}
body .titulo-index span:nth-child(8) {
  animation-delay: 0.7s;
}
body .titulo-index span:nth-child(9) {
  animation-delay: 0.8s;
}
body .titulo-index span:nth-child(10) {
  animation-delay: 0.9s;
}
body .titulo-index span:nth-child(11) {
  animation-delay: 1s;
}
body .titulo-index span:nth-child(12) {
  animation-delay: 1.1s;
}
body .titulo-index span:nth-child(13) {
  animation-delay: 1.2s;
}
body .titulo-index span:nth-child(14) {
  animation-delay: 1.3s;
}
body .titulo-index span:nth-child(15) {
  animation-delay: 1.4s;
}
body .titulo-index span:nth-child(16) {
  animation-delay: 1.5s;
}
body .titulo-index span:nth-child(17) {
  animation-delay: 1.6s;
}
body .titulo-index span:nth-child(18) {
  animation-delay: 1.7s;
}
body .titulo-index span:nth-child(19) {
  animation-delay: 1.8s;
}
body .titulo-index span:nth-child(20) {
  animation-delay: 1.9s;
}
body .titulo-index span:nth-child(21) {
  animation-delay: 2s;
}
body .titulo-index span:nth-child(22) {
  animation-delay: 2.1s;
}
body .titulo-index span:nth-child(23) {
  animation-delay: 2.2s;
}
body .titulo-index span:nth-child(24) {
  animation-delay: 2.3s;
}
body .titulo-index span:nth-child(25) {
  animation-delay: 2.4s;
}
body .titulo-index span:nth-child(26) {
  animation-delay: 2.5s;
}
body .titulo-index span:nth-child(27) {
  animation-delay: 2.6s;
}
body .titulo-index span:nth-child(28) {
  animation-delay: 2.7s;
}
body .titulo-index span:nth-child(29) {
  animation-delay: 2.8s;
}
body .titulo-index span:nth-child(30) {
  animation-delay: 2.9s;
}
body .titulo-2, body .titulo-4 {
  color: beige;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  display: flex;
  justify-content: center;
  text-align: 0;
  margin: 10px;
  padding: 0;
  padding: 30px;
}
body .titulo-3 {
  padding-top: 30px;
  text-align: center;
}
body .parrafo, body .parrafo-2 {
  color: beige;
  max-width: 90%; /* Limita el ancho máximo para pantallas grandes */
  margin: 10px auto; /* Centra el párrafo en su contenedor */
  text-align: center; /* Alinea el texto al centro */
  line-height: 1.6; /* Mejora la legibilidad */
  font-size: 1.2rem; /* Tamaño de fuente estándar */
  padding: 5px; /* Espacio alrededor del texto */
}
body .parrafo-2 {
  border: 2px solid rgb(179, 130, 138);
  font-size: 1rem;
}
body h5 {
  color: #f8e7ee;
}
body .img {
  border-radius: 10%;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.titulo-noindex {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  text-align: 0;
  margin: 20px;
  padding: 0;
  color: rgb(166, 115, 144);
  font-size: 40px;
  padding-top: 60px;
}

p {
  color: beige;
  font-family: "Courier New", Courier, monospace;
}

.contacto {
  color: beige;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  margin: 20px;
}
.contacto img {
  display: flex;
}

.fototeca img {
  background-size: cover;
  border-radius: 5%;
}

.lista {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px; /* Espacio entre los elementos */
  max-width: 100%; /* Asegura que la lista no se desborde */
  box-sizing: border-box; /* Considera el padding y el border dentro del width */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* On top of header */
}
.lista li {
  flex: 1 1 auto; /* Permite que los elementos se ajusten proporcionalmente */
  margin: 5px;
  text-align: center; /* Centra el contenido dentro de cada elemento */
  min-width: 100px; /* Define un ancho mínimo para los elementos */
  box-sizing: border-box;
}
.lista li a {
  display: block; /* Asegura que el enlace ocupe toda el área del <li> */
  padding: 10px; /* Añade padding al enlace para hacerlo más fácil de tocar */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Hereda el color del texto del contenedor */
  background-color: rgba(217, 205, 67, 0.7529411765); /* Añade un fondo al enlace */
  border-radius: 5px; /* Opcional: redondea los bordes */
  box-sizing: border-box;
}
.lista li a:hover {
  background-color: rgba(217, 205, 67, 0.9490196078);
  text-decoration: underline;
}

.carousel-indicators {
  margin-bottom: -25px; /* Ajusta este valor según sea necesario */
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-size: 80%;
  background-position: center;
  z-index: 1; /* Fondo de la imagen, detrás del texto */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
}

.carousel-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Texto por encima de la imagen */
  color: white;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
  border-radius: 8px; /* Esquinas redondeadas para un diseño más suave */
  max-width: 80%; /* Evita que el texto sea demasiado ancho */
}

.carousel-item {
  position: relative;
  height: 80vh;
}

.custom-position {
  bottom: 10%; /* Coloca el texto cerca de la parte inferior */
}

.jugador {
  align-content: center;
}
.jugador .grid-jugadoras {
  display: grid;
  margin: 0 auto; /* centra la tabla horizontalmente */
  row-gap: 20px;
  grid-area: dorsal, nombre, posicion;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(19, auto);
  width: 70%;
}
.jugador .grid-tecnico {
  display: grid;
  margin: 0 auto; /* centra la tabla horizontalmente */
  row-gap: 20px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  width: 50%;
}
.jugador .grid-clasificacion {
  display: grid;
  margin: 0 auto; /* centra la tabla horizontalmente */
  row-gap: 20px;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(12, auto);
  width: 100%;
}
.jugador .grid-clasificacion .escudos {
  width: 20px;
  height: 20px;
}
.jugador .grid-item {
  color: beige;
  padding: 10px;
  text-align: center; /* Asegura que el texto esté centrado horizontalmente */
  align-content: center; /* Asegura que el texto esté centrado verticalmente */
  border: 1px solid rgb(192, 87, 87); /* Opcional: para visualizar mejor las celdas */
}

.grid-galeria {
  margin: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.grid-testimonios {
  margin: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  text-align: center; /* Centra el contenido dentro del footer */
  padding: 20px 0; /* Espaciado superior e inferior */
}
.footer .parrafo-footer {
  margin-bottom: 10px; /* Asegura espacio entre el párrafo y los íconos de redes sociales */
}

.mobile-navbar {
  display: none !important;
}

.img {
  display: block;
  margin: 0 auto; /* Centra la imagen */
  max-width: 100%; /* Asegura que la imagen sea responsive */
  height: auto; /* Mantiene la proporción de la imagen */
}

.zoom-transition {
  transition: transform 0.5s ease; /* Duración y suavidad de la transición */
  max-width: 100%; /* Para que se ajuste al contenedor si es necesario */
  height: auto;
}
.zoom-transition:hover {
  transform: scale(1.1); /* Ajusta el valor de escala para agrandar la imagen */
}

.testimonios {
  padding: 4px;
  margin: 10px;
  border: 3px solid #EDBB00;
  font-size: 1.2rem;
}
.testimonios .persona {
  display: flex;
  align-items: flex-end;
  font-size: 17px;
}

.historia {
  padding: 20px;
  margin: 20px;
  border: 3px solid #EDBB00;
}

@media only screen and (max-width: 900px) {
  .mobile-navbar {
    display: block !important;
  }
  .lista {
    display: none !important;
  }
  .titulo-index, .titulo-noindex {
    padding-top: 0 !important;
  }
  .titulo-index {
    font-size: 25px !important;
  }
  .grid-tecnico {
    width: 80% !important;
  }
  .grid-jugadoras {
    width: 95% !important;
  }
  .historia {
    padding: 10px !important;
    margin: 10px !important;
  }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-testimonios {
    grid-template-columns: repeat(1, 1fr);
  }
  .mapa {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
