@charset "UTF-8";
* {
  margin: 0; /*hace que el elemento no tenga margen*/
  padding: 0;
}

body {
  background-image: url(../imagenes/light-pink-colored-vintage-watercolor-abstract-background-and-motion-light-background-and-gradient-diagonal-lines-free-photo.jpg);
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .titulo-index {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 0;
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 60px;
}
body .titulo-2, body .titulo-3 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  display: flex;
  justify-content: center;
  text-align: 0;
  margin: 10px;
  padding: 0;
}
body .titulo-3 {
  padding-top: 30px;
  text-align: center;
}
body .parrafo, body .parrafo-2 {
  max-width: 80%; /* Limita el ancho máximo para pantallas grandes */
  margin: 10px auto; /* Centra el párrafo en su contenedor */
  text-align: center; /* Alinea el texto al centro */
  line-height: 1.6; /* Mejora la legibilidad */
  font-size: 1rem; /* Tamaño de fuente estándar */
  padding: 5px; /* Espacio alrededor del texto */
}
body .parrafo-2 {
  border: 2px solid rgb(179, 130, 138);
}

.titulo-noindex {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  text-align: 0;
  margin: 20px;
  padding: 0;
  color: rgb(166, 115, 144);
  font-size: 40px;
  padding-top: 40px;
}

p {
  font-family: "Courier New", Courier, monospace;
}

.contacto {
  margin: 10px;
}
.contacto .parrafo-contacto {
  font-family: "Times New Roman", Times, serif;
}

.lista {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px; /* Espacio entre los elementos */
  max-width: 100%; /* Asegura que la lista no se desborde */
  box-sizing: border-box; /* Considera el padding y el border dentro del width */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* On top of header */
}
.lista li {
  flex: 1 1 auto; /* Permite que los elementos se ajusten proporcionalmente */
  margin: 5px;
  text-align: center; /* Centra el contenido dentro de cada elemento */
  min-width: 100px; /* Define un ancho mínimo para los elementos */
  box-sizing: border-box;
}
.lista li a {
  display: block; /* Asegura que el enlace ocupe toda el área del <li> */
  padding: 10px; /* Añade padding al enlace para hacerlo más fácil de tocar */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Hereda el color del texto del contenedor */
  background-color: #f0f0f0; /* Añade un fondo al enlace */
  border-radius: 5px; /* Opcional: redondea los bordes */
  box-sizing: border-box;
}

.carousel-indicators {
  margin-bottom: -15px; /* Ajusta este valor según sea necesario */
}

.jugador {
  align-content: center;
}
.jugador .grid-jugadoras {
  display: grid;
  margin: 0 auto; /* centra la tabla horizontalmente */
  row-gap: 20px;
  grid-area: dorsal, nombre, posicion;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(19, auto);
  width: 70%;
}
.jugador .grid-tecnico {
  display: grid;
  margin: 0 auto; /* centra la tabla horizontalmente */
  row-gap: 20px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  width: 50%;
}
.jugador .grid-item {
  padding: 10px;
  text-align: center; /* Asegura que el texto esté centrado horizontalmente */
  align-content: center; /* Asegura que el texto esté centrado verticalmente */
  border: 1px solid rgba(80, 17, 17, 0.344); /* Opcional: para visualizar mejor las celdas */
}

.grid-testimonios-galeria {
  margin: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.footer {
  text-align: center; /* Centra el contenido dentro del footer */
  padding: 20px 0; /* Espaciado superior e inferior */
}
.footer .parrafo-footer {
  margin-bottom: 10px; /* Asegura espacio entre el párrafo y los íconos de redes sociales */
}

.mobile-navbar {
  display: none !important;
}

.img {
  display: block;
  margin: 0 auto; /* Centra la imagen */
  max-width: 100%; /* Asegura que la imagen sea responsive */
  height: auto; /* Mantiene la proporción de la imagen */
}

.testimonios {
  padding: 4px;
  margin: 10px;
  border: 3px solid gray;
}
.testimonios .persona {
  display: flex;
  align-items: flex-end;
  font-size: 17px;
}

.historia {
  padding: 20px;
  margin: 40px;
  border: 3px solid gray;
}

@media only screen and (max-width: 900px) {
  .mobile-navbar {
    display: block !important;
  }
  .lista {
    display: none !important;
  }
  .titulo-index, .titulo-noindex {
    padding-top: 0 !important;
  }
  .grid-tecnico {
    width: 80% !important;
  }
  .grid-jugadoras {
    width: 95% !important;
  }
  .grid-testimonios-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .mapa {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
