.mobile-navbar {
    display: none !important;
}

.img {
    display: block;
    margin: 0 auto; /* Centra la imagen */
    max-width: 100%; /* Asegura que la imagen sea responsive */
    height: auto; /* Mantiene la proporción de la imagen */
}

.zoom-transition {
    transition: transform 0.5s ease; /* Duración y suavidad de la transición */
    max-width: 100%; /* Para que se ajuste al contenedor si es necesario */
    height: auto;
    &:hover {
    transform: scale(1.1); /* Ajusta el valor de escala para agrandar la imagen */
    }
}

.container {
    display: flex;
    justify-content: center;
    img {
        margin: 0;
    }
}

.testimonios {
    padding: 4px;
    margin: 10px;
    border: 3px solid #EDBB00;
    font-size: 1.2rem;
    .persona {
        display: flex;
        align-items: flex-end;
        font-size: 17px;
    }
}

.historia {
    padding: 20px;
    margin: 20px;
    border: 3px solid #EDBB00;
}

.fototeca {
    img {
        background-size: cover;
        border-radius: 5%;
    }
}