.mobile-navbar {
    display: none !important;
}

.img {
    display: block;
    margin: 0 auto; /* Centra la imagen */
    max-width: 100%; /* Asegura que la imagen sea responsive */
    height: auto; /* Mantiene la proporci칩n de la imagen */
}

.zoom-transition {
    transition: transform 0.5s ease; /* Duraci칩n y suavidad de la transici칩n */
    max-width: 100%; /* Para que se ajuste al contenedor si es necesario */
    height: auto;
    &:hover {
    transform: scale(1.1); /* Ajusta el valor de escala para agrandar la imagen */
    }
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    img {
        display: block;
        margin: 0;
        max-width: 100%; /* Asegura que las im치genes no se salgan del contenedor */
        height: auto; 
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
    text-decoration: none;
    color: inherit;
    background-color: #d9cd43c0;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 19%;
    &:hover {
        background-color: #d9cd43f2;
        text-decoration: underline;
    }
}

.testimonios {
    padding: 4px;
    margin: 10px;
    border: 3px solid #EDBB00;
    font-size: 1.2rem;
    .persona {
        display: flex;
        align-items: flex-end;
        font-size: 17px;
    }
}

.historia {
    padding: 20px;
    margin: 20px;
    border: 3px solid #EDBB00;
}

.fototeca {
    img {
        background-size: cover;
        border-radius: 5%;
    }
}