@media only screen and (max-width: 900px) {
    .mobile-navbar {
        display: block !important;
    }
    .lista {
        display: none !important;
    }
    .titulo-index, .titulo-noindex {
        padding-top: 0 !important;
    }
    .titulo-index{
        font-size: 20px !important;
        flex-direction: column !important;
    }
    .grid-tecnico {
        width: 80% !important;
    }
    .grid-jugadoras {
        width: 95% !important;
    }
    .historia {
        padding: 10px !important;
        margin: 10px !important;
    }
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .grid-testimonios {
        grid-template-columns: repeat(1, 1fr);
    }
    .mapa {
        width: 100% !important;
    }
}