.carousel-indicators {
    margin-bottom: -25px; /* Ajusta este valor según sea necesario */
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-size: 80%;
    background-position: center;
    z-index: 1; /* Fondo de la imagen, detrás del texto */
    opacity: 0.5; /* Ajusta la opacidad según sea necesario */
}

.carousel-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Texto por encima de la imagen */
    color: white;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    border-radius: 8px; /* Esquinas redondeadas para un diseño más suave */
    max-width: 80%; /* Evita que el texto sea demasiado ancho */
}

.carousel-item {
    position: relative;
    height: 80vh;
}

.custom-position {
    bottom: 10%; /* Coloca el texto cerca de la parte inferior */
}