.footer {
    text-align: center; /* Centra el contenido dentro del footer */
    padding: 20px 0; /* Espaciado superior e inferior */

    .parrafo-footer {
        margin-bottom: 10px; /* Asegura espacio entre el párrafo y los íconos de redes sociales */
    }
    // .redes-sociales {
    //     display: flex;
    //     justify-content: center; /* Centra los íconos horizontalmente */
    //     align-items: center; /* Asegura que los íconos estén centrados verticalmente */
    //     gap: 10px;
    //     margin-top: 10px; /* Espacio entre el texto y las redes sociales */
    // }
}



