.jugador {
    align-content: center;

    .grid-jugadoras {
        @include grid-margin-gap;
        grid-area: dorsal, nombre, posicion;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(19, auto);
        width: 70%;
    }

    .grid-tecnico {
        @include grid-margin-gap;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(10, auto);
        width: 50%;
    }

    .grid-clasificacion {
        @include grid-margin-gap;
        grid-template-columns: repeat(10, auto);
        grid-template-rows: repeat(12, auto);
        width: 100%;
        .escudos {
            width: 20px;
            height: 20px;
        }
    }

    .grid-item {
        color: beige;
        padding: 10px;
        text-align: center; /* Asegura que el texto esté centrado horizontalmente */
        align-content: center; /* Asegura que el texto esté centrado verticalmente */
        border: 1px solid rgb(192, 87, 87); /* Opcional: para visualizar mejor las celdas */
    }
}

.grid-galeria {
    margin: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.grid-testimonios {
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}