*{
    margin: 0; /*hace que el elemento no tenga margen*/
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #004D98, #A50044); //EDBB00 yellow
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-repeat: no-repeat;
    background-attachment: fixed;

    .titulo-index {
        color: beige;
        @include title (("Edu AU VIC WA NT Hand", cursive), flex, center, center, 10px, 0);
        padding-top: 70px;

        span {
            opacity: 0;
            transform: translateY(-50px);
            animation: slideDown 0.3s ease forwards;
        }

        @for $i from 1 through 30 {
            span:nth-child(#{$i}) {
                animation-delay: 0.1s * ($i - 1);
            }
        }
    }
    
    .titulo-2, .titulo-4 {
        color: beige;
        @include title (("Edu AU VIC WA NT Hand", cursive), flex, center, 0, 10px, 0);
        padding: 30px;
    }
    
    .titulo-3 {
        padding-top: 30px;
        text-align: center;
    }

    .parrafo, .parrafo-2 {
        color: beige;
        max-width: 90%; /* Limita el ancho m치ximo para pantallas grandes */
        margin: 10px auto; /* Centra el p치rrafo en su contenedor */
        text-align: center; /* Alinea el texto al centro */
        line-height: 1.6; /* Mejora la legibilidad */
        font-size: 1.2rem; /* Tama침o de fuente est치ndar */
        padding: 5px; /* Espacio alrededor del texto */
    }
    
    .parrafo-2 {
        border: 2px solid rgb(179, 130, 138);
    }
    
    h5 {
        color: #f8e7ee;
    }

    .img {
        border-radius: 10%;
    }
}

@keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.titulo-noindex {
    @include title (("Pacifico", cursive), flex, center, 0, 20px, 0);
    color: rgb(166, 115, 144);
    font-size: 40px;
    padding-top: 60px;
}

p {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.contacto {
    color: beige;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    margin: 20px;
    text-align: center;
}